<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ninja Blog | <%= title %> </title>
</head>
<body>
    <h1>Oops! 404 Error</h1>
    <h3>Please check the link twice</h3>
</body>
</html>